body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(0 0 0);
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.header {  
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #9afeff;
  text-shadow: 1px 1px 20px deeppink;
  border-bottom: 1px solid deeppink;
  box-shadow: 0px 1px 24px deepskyblue;
}

header h1 {
  padding: 40px;
}

.music {
  color: rgb(232, 232, 232);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  padding: 20px;
}

.music__box {
  width: 100%;
  margin: 20px;
  border-radius: 10px; 
  opacity: 1;
  transition: transform .2s ease;
  position: relative;  
  overflow: hidden;
  border: 1px solid white
}
@media screen and (min-width: 768px){
  .music__box {
    width: 40%;
  }
}
@media screen and (min-width: 1200px){
  .music__box {
    width: 30%;
  }
}

.music__box::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}


.music__box:hover {
  opacity: .8;
  transform: scale(1.05);
}

.music__box iframe,
.music__box object,
.music__box embed {
  position: absolute !important;
  top: 0 !important;
  left: 0;
  width: 100% !important;
  height: 100%;
}